
.header-main {
  display: flex;
  background-color: black;
  color: white;
}

.header-inputs {
  background-color: red;
}

.red {
  background-color: red;
  color: white;
}
.black{
  background-color: black;
  color: white;
}
