* {
  box-sizing: border-box;
}

/* header start */

.header-main {
  display: flex;
  background-color: black;
  color: white;
  flex-wrap:initial;
  justify-content: space-between;
}
.header-title{
  height: 10px;
  padding-left: 40px;
  padding-top: -4px;
}

.header-buttons{
  display: flex;
  justify-content: space-around;
}

.header-inputs {
  background-color: red;
  display: flex;
  justify-content: space-around;
}

.red {
  background-color: red;
  color: white;
}
.black{
  background-color: black;
  color: white;
}

/* header end */

/* movie page start */
.main-container{
  background-color: black;
  color: white;
}

.black__background {
  background-color: black;
}

.page__container {
  display:flex;
  flex-wrap:wrap;
}

.every__item {
  display:flex;
  flex-wrap:wrap;
}

.card__item {
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  width:300px;
}

.card__info {
  position: relative;
  cursor: pointer;
  position: relative;
}

.card__image {
  width: 100%;
}
.card__title {
  position: absolute;
  z-index: 1;
  background-color: rgb(102, 102, 102);
  top :1%;
}

.card__info .card__description{
  display: none;
}

.card__info:hover .card__description{
background-color: rgb(84, 84, 84);
  display: block;
  z-index: 3;
  position: absolute;
  bottom: 1%;
}




/* movie page start */

.landing__container {
  background-color: black;
  color: white;
  display: flex;
  cursor: pointer;

}

.landing__movies {
  width: 50%;
  height:min-content;
  justify-content: center;
}
.landing__series {
  width: 50%;
  height:min-content;
  justify-content: center;
}

.shade {
  background-color: black
}
.landing__title {
  position: absolute;
  padding-left: 120px;
  padding-bottom: 12px;
}

.landing__poster {
  max-width:100%;
  max-height:3000px;
}
